@font-face {
  font-family: "kobsss";
  src: url("../assets/Fonts/Roboto-Medium.ttf");
  src: url("../assets/Fonts/Roboto-Bold.ttf");
  src: url("../assets/Fonts/Roboto-Regular.ttf");
}

$primary: rgb(235, 214, 56);
$font: "kobsss";
