@font-face {
  font-family: "kobsss-medium";
  src: url("../assets/Fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "kobsss-regular";

  src: url("../assets/Fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "kobsss-bold";

  src: url("../assets/Fonts/Roboto-Bold.ttf");
}

$primary: rgb(242, 201, 17);
$font: "kobsss-regular";
