@import "../../../styles/variable.scss";

.header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  fill: $primary;
  width: 128px;
  margin-top: 10px;
}

.items {
  width: 350px;
  display: flex;
  justify-content: space-between;
}
.items div {
  padding: 30px 20px 15px 20px;
  font-family: "kobsss-medium";
  cursor: pointer;
}

.search {
  margin-top: 15px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-icon {
  cursor: pointer;
  width: 25px;
  fill: white;
}

.burger-wrapper {
  display: flex;
  flex-direction: column;
  align-items: end;

  cursor: pointer;
}

.burger {
  margin-top: 3px;
  width: 32px;
  border-bottom: 1px solid white;
  margin-bottom: 5px;

  &:first-child {
    width: 24px;
  }

  &:last-child {
    width: 10px;
  }
}

.active {
  background-color: $primary;
  color: black;
}
